<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
    <title>Document</title>
</head>
<body>
    <div class='card'>
        <div class='card_container container'>
          <img src="" alt="Flecha isquierda" class='card_arrow' />
          <div class='card_body card_body--show'>
            <div class='card_text'>
              <p class='subtitle'>ssss<span class='card_course'>sss</span></p>
            </div>
            <figure class='card_picture'>
              <img src="../../assets/img/daniel.jpeg" alt="Foto perfil" class='card_img'/>
            </figure>
          </div>
        </div>
      </div>
</body>
</html>